body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  .landing {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('img/outsourcing.jpg');
    background-size: cover;
    color: #fff;
  }
  
  .banner {
    max-width: 600px;
  }
  
  .banner h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  .banner p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .profile-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
  }
  
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    padding: 20px;
    border: 3px solid #335533;
    border-radius: 15px;
  }
  
  .profile IMG {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .profile-info h3 {
    margin: 0;
    text-align: center;
  }
  
  .profile-info p {
    text-align: center;
  }
  
  .skills {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  .skills li {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    background-color: #99cc99;
    border-radius: 20px;
  }
  
  .whatsapp-btn {
    display: block;
    margin: 20px auto;
    padding: 15px 30px;
    background-color: #25d366;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .whatsapp-btn:hover {
    background-color: #128c7e;
  }
  
